html, body {
  margin: 0
}
.container {
  height: 100vh;
}

.fixed-img {
  background-image: url("http://2.bp.blogspot.com/-pATX0YgNSFs/VP-82AQKcuI/AAAAAAAALSU/Vet9e7Qsjjw/s1600/Cat-hd-wallpapers.jpg");
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3em;
  position: relative;
  top: 45vh;
}

p {
  background: white;
  padding: 1em;
  width: 100%;
  margin: 0;
}
